<form action="" onsubmit={{perform loginTask}} class="login-form">
  <input
    type="text"
    id="username-input"
    class="login-form__input"
    autocomplete="username"
    placeholder="Username"
    value={{username}}
    oninput={{action (mut username) value="target.value"}}>

  <input
    type="password"
    id="password-input"
    class="login-form__input"
    autocomplete="current-password"
    placeholder="Password"
    value={{password}}
    oninput={{action (mut password) value="target.value"}}>

  <button type="submit" class="login-form__button">
    Sign In
  </button>
</form>